/* Spaziatura BODY per non nascondere testo sotto NAVBAR */
body{
  padding-top: 50px;
}

/* Logo NAVBAR */
.navbar-brand {
    height: inherit;
    line-height: inherit;
}

/* NAVBAR completa */
.navbar-nav {
    line-height: 50px;
}

/* CAROUSEL */
.carousel-item {
    min-height: 600px;
    background-size: cover;
    background-position: center center;
    background-image: center center;
}

.p-2{
  padding: 0px; /* Controlla perchè il padding rimane */
}
