@charset "UTF-8";
/* CSS Document */

/*personalizzazioni css*/

#table-specie thead .DESC::after{
	content: '↓';
	color: #ff0000;
}

#table-specie thead .ASC::after{
	content: '↑';
	color: #ff0000;
}