/* Logo NAVBAR */
.navbar-brand {
    height: inherit;
    line-height: inherit;
}

/* NAVBAR completa */
.navbar-nav {
    line-height: 50px;
}

/* CAROUSEL */
.carousel-item {
    min-height: 600px;
    background-size: cover;
    background-position: center center;
    background-image: center center;
}

.p-2 {
  padding: 0px; /* Controlla perchè il padding rimane */
}

/* Padding homepage-section */
.side-padding {
    padding: 50px 80px 50px 80px;
}

/* Distanze row */
.row-padding {
    padding: 50px 0px 50px 0px;
}
